:root {
  --infoText-c: rgba(0, 0, 0, 0.4);
}

#app {
  .uni-picker-container .uni-picker-action.uni-picker-action-confirm {
    color: $uni-primary;
  }
  .uni-fab__circle--rightBottom,
  .uni-fab--rightBottom {
    right: 50%;
    bottom: 3%;
    transform: translateX(50%);
  }
  .mt-12 {
    margin-top: 12rpx;
  }
  uni-button[type="primary"] {
    background-color: $uni-primary;
    color: $uni-white;
  }
  uni-button[disabled][type="primary"] {
    background-color: $uni-primary-disable;
  }
}
